$padding-horizontal: 15.625rem;
$padding-horizontal-mobile: 6.25rem;
$padding-horizontal-sm: 9.375rem;
$padding-horizontal-md: 12.5rem;
$dark: #242536;
$dark-grey: #92929D;
$darkest-grey: #70707b;
$grey: #E4E4E4;
$black: #4C4D5E;
$light-grey: #F6F6F6;
$blue: #282B57;
$red: #D73B3B;
$red-dark: #C62A2A;