@import '/src/styles/variaveis';
@import '/src/styles/breakpoints';

.section {
    &__filtros {    
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1.875rem;
        width: 100%;
    }

}