@import '/src/styles/variaveis';
@import '/src/styles/breakpoints';

.menu {
    display: flex;
    padding: 1.25rem $padding-horizontal;
    @media (max-width: $desktop_xsm) {
        padding: 1.25rem $padding-horizontal-mobile;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 1.25rem $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 1.25rem $padding-horizontal-md;
    }
    &__list {
        align-items: center;
        display: flex;
    }
    &__link {
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 600;
        list-style-type: none;
        padding: 0 20px;
        text-decoration: none;
        transition: 0.2s ease;
        &:hover {
            color: $dark-grey;
        }
    }

}
